<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <!--
      strings 30000 thru 30999 reserved for plugins and plugin settings
      strings 31000 thru 31999 reserved for skins
      strings 32000 thru 32999 reserved for scripts
      strings 33000 thru 33999 reserved for common strings used in add-ons
  -->
  <category label="30100">
    <setting id="area" label="30001" type="enum" lvalues="30002|30003|30004|30005" default="0"/>
    <setting id="radiru" label="30101" type="enum" lvalues="30052|30053|30054" default="0"/>
<setting label="NHKラジオ第1" type="bool" id="radiru_NHKR1" default="false" enable="eq(-1,2)"/>
<setting label="NHKラジオ第2" type="bool" id="radiru_NHKR2" default="false" enable="eq(-2,2)"/>
<setting label="NHK FM" type="bool" id="radiru_NHKFM" default="false" enable="eq(-3,2)"/>
    <setting label="30102" type="action" option="close" action="Container.Update(plugin://plugin.audio.kodi.ra,replace)"/>
  </category>
  <category label="30200">
    <setting id="radiko" label="30201" type="enum" lvalues="30052|30053|30054" default="0"/>
<setting label="TBSラジオ" type="bool" id="radiko_TBS" default="false" enable="eq(-1,2)"/>
<setting label="文化放送" type="bool" id="radiko_QRR" default="false" enable="eq(-2,2)"/>
<setting label="ニッポン放送" type="bool" id="radiko_LFR" default="false" enable="eq(-3,2)"/>
<setting label="ラジオNIKKEI第1 " type="bool" id="radiko_RN1" default="false" enable="eq(-4,2)"/>
<setting label="ラジオNIKKEI第2" type="bool" id="radiko_RN2" default="false" enable="eq(-5,2)"/>
<setting label="InterFM" type="bool" id="radiko_INT" default="false" enable="eq(-6,2)"/>
<setting label="TOKYO FM" type="bool" id="radiko_FMT" default="false" enable="eq(-7,2)"/>
<setting label="J-WAVE" type="bool" id="radiko_FMJ" default="false" enable="eq(-8,2)"/>
<setting label="ラジオ日本" type="bool" id="radiko_JORF" default="false" enable="eq(-9,2)"/>
<setting label="bayfm78" type="bool" id="radiko_BAYFM78" default="false" enable="eq(-10,2)"/>
<setting label="NACK5" type="bool" id="radiko_NACK5" default="false" enable="eq(-11,2)"/>
<setting label="ＦＭヨコハマ" type="bool" id="radiko_YFM" default="false" enable="eq(-12,2)"/>
<setting label="放送大学" type="bool" id="radiko_HOUSOU-DAIGAKU" default="false" enable="eq(-13,2)"/>
    <setting label="30202" type="action" option="close" action="Container.Update(plugin://plugin.audio.kodi.ra,replace)"/>
  </category>
  <category label="30300">
    <setting id="simul" label="30301" type="enum" lvalues="30052|30053|30054" default="0"/>
<setting label="三角山放送局(札幌市西区)" type="bool" id="simul_sankakuyama" default="false" enable="eq(-1,2)"/>
<setting label="FM JAGA(帯広市)" type="bool" id="simul_jaga" default="false" enable="eq(-2,2)"/>
<setting label="FM WING(帯広市)" type="bool" id="simul_fmwing" default="false" enable="eq(-3,2)"/>
<setting label="RadioD FM dramacity(札幌市厚別区)" type="bool" id="simul_dramacity" default="false" enable="eq(-4,2)"/>
<setting label="FMくしろ(釧路市)" type="bool" id="simul_fm946" default="false" enable="eq(-5,2)"/>
<setting label="FMわっぴ〜(稚内市)" type="bool" id="simul_wappy761" default="false" enable="eq(-6,2)"/>
<setting label="FMりべーる(旭川市)" type="bool" id="simul_fm837" default="false" enable="eq(-7,2)"/>
<setting label="ラジオニセコ(ニセコ町)" type="bool" id="simul_radioniseko" default="false" enable="eq(-8,2)"/>
<setting label="FMいるか(函館市)" type="bool" id="simul_fmiruka" default="false" enable="eq(-9,2)"/>
<setting label="ラジオカロスサッポロ(札幌市)" type="bool" id="simul_radiokaros" default="false" enable="eq(-10,2)"/>
<setting label="FMアップル(札幌市豊平区)" type="bool" id="simul_765fm" default="false" enable="eq(-11,2)"/>
<setting label="e-niwaFM(恵庭市)" type="bool" id="simul_eniwa" default="false" enable="eq(-12,2)"/>
<setting label="ラヂオもりおか(盛岡市)" type="bool" id="simul_radiomorioka" default="false" enable="eq(-13,2)"/>
<setting label="RADIO3(仙台市青葉区)" type="bool" id="simul_radio3" default="false" enable="eq(-14,2)"/>
<setting label="エフエム モットコム(本宮市)" type="bool" id="simul_fm-mot" default="false" enable="eq(-15,2)"/>
<setting label="FMいわき(いわき市)" type="bool" id="simul_fm-iwaki" default="false" enable="eq(-16,2)"/>
<setting label="エフエム会津(会津若松市)" type="bool" id="simul_fmaizu" default="false" enable="eq(-17,2)"/>
<setting label="FMゆーとぴあ(湯沢市)" type="bool" id="simul_yutopia" default="false" enable="eq(-18,2)"/>
<setting label="横手かまくらエフエム(横手市)" type="bool" id="simul_fmyokote" default="false" enable="eq(-19,2)"/>
<setting label="みやこハーバーラジオ(宮古市)" type="bool" id="simul_fmmiyako" default="false" enable="eq(-20,2)"/>
<setting label="ラジオ石巻(石巻市)" type="bool" id="simul_fm764i" default="false" enable="eq(-21,2)"/>
<setting label="BAY WAVE(塩釜市)" type="bool" id="simul_bay-wave" default="false" enable="eq(-22,2)"/>
<setting label="fmいずみ(仙台市泉区)" type="bool" id="simul_fm797" default="false" enable="eq(-23,2)"/>
<setting label="りんごFM(山元町)" type="bool" id="simul_ringo-radio" default="false" enable="eq(-24,2)"/>
<setting label="なとらじ(名取市)" type="bool" id="simul_fm_natori801mhz" default="false" enable="eq(-25,2)"/>
<setting label="南相馬ひばりエフエム(南相馬市)" type="bool" id="simul_minamisomasaigaifm" default="false" enable="eq(-26,2)"/>
<setting label="郡山コミュニティ放送(郡山市)" type="bool" id="simul_kocofm" default="false" enable="eq(-27,2)"/>
<setting label="女川さいがいFM(女川町)" type="bool" id="simul_onagawafm" default="false" enable="eq(-28,2)"/>
<setting label="けせんぬまさいがいエフエム(気仙沼市)" type="bool" id="simul_km-saigaifm" default="false" enable="eq(-29,2)"/>
<setting label="陸前高田災害FM(陸前高田市)" type="bool" id="simul_rikuzentakata-fm" default="false" enable="eq(-30,2)"/>
<setting label="富岡臨時災害FM局（おだがいさまFM）(富岡町)" type="bool" id="simul_odagaimasafm" default="false" enable="eq(-31,2)"/>
<setting label="亘理臨時災害FM局（FMあおぞら）(亘理町)" type="bool" id="simul_fmaozora" default="false" enable="eq(-32,2)"/>
<setting label="FMねまらいん(大船渡市)" type="bool" id="simul_ofunato" default="false" enable="eq(-33,2)"/>
<setting label="おおつちさいがいエフエム(大槌町)" type="bool" id="simul_otsuchi" default="false" enable="eq(-34,2)"/>
<setting label="釜石災害FM(釜石市)" type="bool" id="simul_kamaishi" default="false" enable="eq(-35,2)"/>
<setting label="BeFM(八戸市)" type="bool" id="simul_befm765" default="false" enable="eq(-36,2)"/>
<setting label="鹿角きりたんぽFM(鹿角市)" type="bool" id="simul_fm791" default="false" enable="eq(-37,2)"/>
<setting label="FMぱるるん(水戸市)" type="bool" id="simul_fmpalulun" default="false" enable="eq(-38,2)"/>
<setting label="フラワーラジオ(鴻巣市)" type="bool" id="simul_fm767f" default="false" enable="eq(-39,2)"/>
<setting label="すまいるFM(朝霞市)" type="bool" id="simul_fm767s" default="false" enable="eq(-40,2)"/>
<setting label="湘南ビーチFM(逗子市・葉山町)" type="bool" id="simul_beachfm" default="false" enable="eq(-41,2)"/>
<setting label="レディオ湘南(藤沢市)" type="bool" id="simul_radioshonan" default="false" enable="eq(-42,2)"/>
<setting label="FMおだわら(小田原市)" type="bool" id="simul_fm-odawara" default="false" enable="eq(-43,2)"/>
<setting label="REDS WAVE(さいたま市)" type="bool" id="simul_redswave" default="false" enable="eq(-44,2)"/>
<setting label="ラヂオつくば(つくば市)" type="bool" id="simul_radio-tsukuba" default="false" enable="eq(-45,2)"/>
<setting label="エフエムたちかわ(立川市)" type="bool" id="simul_fm844" default="false" enable="eq(-46,2)"/>
<setting label="かわさきFM(川崎市)" type="bool" id="simul_kawasakifm" default="false" enable="eq(-47,2)"/>
<setting label="FM 桐生(桐生市)" type="bool" id="simul_kiryu" default="false" enable="eq(-48,2)"/>
<setting label="FMやまと(大和市)" type="bool" id="simul_fmyamato" default="false" enable="eq(-49,2)"/>
<setting label="FM戸塚(横浜市)" type="bool" id="simul_fm-totsuka" default="false" enable="eq(-50,2)"/>
<setting label="FMサルース(横浜市)" type="bool" id="simul_fm-salus" default="false" enable="eq(-51,2)"/>
<setting label="調布FM(調布市)" type="bool" id="simul_chofu-fm" default="false" enable="eq(-52,2)"/>
<setting label="かつしかFM(葛飾区)" type="bool" id="simul_kfm789" default="false" enable="eq(-53,2)"/>
<setting label="エフエムさがみ(相模原市)" type="bool" id="simul_fmsagami" default="false" enable="eq(-54,2)"/>
<setting label="レインボータウンFM(江東区)" type="bool" id="simul_792fm" default="false" enable="eq(-55,2)"/>
<setting label="FM kaon(海老名市)" type="bool" id="simul_fmkaon" default="false" enable="eq(-56,2)"/>
<setting label="中央エフエム(中央区)" type="bool" id="simul_fm840" default="false" enable="eq(-57,2)"/>
<setting label="たかはぎFM(高萩市)" type="bool" id="simul_takahagi" default="false" enable="eq(-58,2)"/>
<setting label="PORT WAVE(四日市市)" type="bool" id="simul_p-wave" default="false" enable="eq(-59,2)"/>
<setting label="Ciao!(熱海市)" type="bool" id="simul_ciao796" default="false" enable="eq(-60,2)"/>
<setting label="MID-FM(名古屋市中区)" type="bool" id="simul_761" default="false" enable="eq(-61,2)"/>
<setting label="FMおかざき(岡崎市)" type="bool" id="simul_okazaki" default="false" enable="eq(-62,2)"/>
<setting label="Pitch FM(刈谷市)" type="bool" id="simul_838fm" default="false" enable="eq(-63,2)"/>
<setting label="RADIO LOVEAT(豊田市)" type="bool" id="simul_loveat" default="false" enable="eq(-64,2)"/>
<setting label="Suzuka Voice FM(鈴鹿市)" type="bool" id="simul_suzukavoice" default="false" enable="eq(-65,2)"/>
<setting label="FMいずのくに(伊豆の国市)" type="bool" id="simul_fmizunokuni" default="false" enable="eq(-66,2)"/>
<setting label="FM Kento(新潟市中央区)" type="bool" id="simul_fmkento" default="false" enable="eq(-67,2)"/>
<setting label="FM軽井沢(軽井沢町)" type="bool" id="simul_fm-karuizawa" default="false" enable="eq(-68,2)"/>
<setting label="FMさくだいら(佐久市)" type="bool" id="simul_fmsakudaira" default="false" enable="eq(-69,2)"/>
<setting label="あづみ野FM(安曇野市)" type="bool" id="simul_azuminofm" default="false" enable="eq(-70,2)"/>
<setting label="ラジオ・ミュー(黒部市)" type="bool" id="simul_fm761" default="false" enable="eq(-71,2)"/>
<setting label="FM丹波(福知山市)" type="bool" id="simul_fukuchiyama" default="false" enable="eq(-72,2)"/>
<setting label="FM 千里(豊中市)" type="bool" id="simul_senri-fm" default="false" enable="eq(-73,2)"/>
<setting label="エフエムわいわい(神戸市)" type="bool" id="simul_tcc117" default="false" enable="eq(-74,2)"/>
<setting label="FM HANAKO(守口市)" type="bool" id="simul_fmhanako" default="false" enable="eq(-75,2)"/>
<setting label="エフエム　みっきぃ(三木市)" type="bool" id="simul_fm-miki" default="false" enable="eq(-76,2)"/>
<setting label="FMひらかた(枚方市)" type="bool" id="simul_kiku-fm779" default="false" enable="eq(-77,2)"/>
<setting label="FM GENKI(姫路市)" type="bool" id="simul_fmgenki" default="false" enable="eq(-78,2)"/>
<setting label="FM TANABE(田辺市)" type="bool" id="simul_fm885" default="false" enable="eq(-79,2)"/>
<setting label="FMジャングル(豊岡市)" type="bool" id="simul_764" default="false" enable="eq(-80,2)"/>
<setting label="BAN-BANラジオ(加古川市)" type="bool" id="simul_banban" default="false" enable="eq(-81,2)"/>
<setting label="FM宝塚(宝塚市)" type="bool" id="simul_835" default="false" enable="eq(-82,2)"/>
<setting label="FMビーチステーション(白浜町)" type="bool" id="simul_fm764b" default="false" enable="eq(-83,2)"/>
<setting label="みのおエフエム(箕面市)" type="bool" id="simul_fmminoh" default="false" enable="eq(-84,2)"/>
<setting label="YES-fm(大阪市中央区)" type="bool" id="simul_yesfm" default="false" enable="eq(-85,2)"/>
<setting label="京都リビングエフエム(京都市伏見区)" type="bool" id="simul_fm-845" default="false" enable="eq(-86,2)"/>
<setting label="さくらFM(西宮市)" type="bool" id="simul_sakurafm786" default="false" enable="eq(-87,2)"/>
<setting label="エフエムあまがさき(尼崎市)" type="bool" id="simul_fmaiai" default="false" enable="eq(-88,2)"/>
<setting label="えふえむ草津(草津市)" type="bool" id="simul_fm785" default="false" enable="eq(-89,2)"/>
<setting label="FMはしもと(橋本市)" type="bool" id="simul_816fm" default="false" enable="eq(-90,2)"/>
<setting label="京都三条ラジオカフェ(京都市中京区)" type="bool" id="simul_radiocafe" default="false" enable="eq(-91,2)"/>
<setting label="たんばしさいがいFM(丹波市)" type="bool" id="simul_tanba" default="false" enable="eq(-92,2)"/>
<setting label="FMたんご(京丹後市)" type="bool" id="simul_fmtango" default="false" enable="eq(-93,2)"/>
<setting label="FM MOOV KOBE(神戸市)" type="bool" id="simul_fmmoov" default="false" enable="eq(-94,2)"/>
<setting label="FMちゅーピー(広島市)" type="bool" id="simul_chupea" default="false" enable="eq(-95,2)"/>
<setting label="DARAZ FM(米子市)" type="bool" id="simul_darazfm" default="false" enable="eq(-96,2)"/>
<setting label="FM高松(高松市)" type="bool" id="simul_fm815" default="false" enable="eq(-97,2)"/>
<setting label="FMびざん(徳島市)" type="bool" id="simul_bfm" default="false" enable="eq(-98,2)"/>
<setting label="FM SUN(坂出市)" type="bool" id="simul_fmsun" default="false" enable="eq(-99,2)"/>
<setting label="NOAS FM(中津市)" type="bool" id="simul_789" default="false" enable="eq(-100,2)"/>
<setting label="サンシャイン エフエム(宮崎市)" type="bool" id="simul_sunfm" default="false" enable="eq(-101,2)"/>
<setting label="あまみFM(奄美市)" type="bool" id="simul_npo-d" default="false" enable="eq(-102,2)"/>
<setting label="FMしまばら(島原市)" type="bool" id="simul_shimabara" default="false" enable="eq(-103,2)"/>
<setting label="FM KITAQ(北九州市小倉北区)" type="bool" id="simul_fm-kitaq" default="false" enable="eq(-104,2)"/>
<setting label="スターコーンFM(築上郡築上町)" type="bool" id="simul_starcornfm" default="false" enable="eq(-105,2)"/>
<setting label="エフエム ニライ(北谷町)" type="bool" id="simul_fm-nirai" default="false" enable="eq(-106,2)"/>
<setting label="FMうるま(うるま市)" type="bool" id="simul_fm-uruma" default="false" enable="eq(-107,2)"/>
<setting label="FM21(浦添市)" type="bool" id="simul_fm21" default="false" enable="eq(-108,2)"/>
<setting label="FMレキオ(那覇市)" type="bool" id="simul_fmlequio" default="false" enable="eq(-109,2)"/>
<setting label="FMとよみ(豊見城市)" type="bool" id="simul_fm-toyomi" default="false" enable="eq(-110,2)"/>
<setting label="オキラジ(沖縄市)" type="bool" id="simul_fm854" default="false" enable="eq(-111,2)"/>
<setting label="コミュニティラジオ天神(福岡市)" type="bool" id="simul_comiten" default="false" enable="eq(-112,2)"/>
<setting label="FMなんじょう(南城市)" type="bool" id="simul_fmnanjo" default="false" enable="eq(-113,2)"/>
<setting label="FMもとぶ(本部町)" type="bool" id="simul_motob" default="false" enable="eq(-114,2)"/>
<setting label="AIR STATION HIBIKI(北九州市)" type="bool" id="simul_hibiki882" default="false" enable="eq(-115,2)"/>
<setting label="FMくめじま(久米島)" type="bool" id="simul_fmkumejima" default="false" enable="eq(-116,2)"/>
<setting label="FMのべおか(延岡市)" type="bool" id="simul_fmnobeoka" default="false" enable="eq(-117,2)"/>
    <setting label="30302" type="action" option="close" action="Container.Update(plugin://plugin.audio.kodi.ra,replace)"/>
  </category>
  <category label="30000">
    <setting label="30050" type="action" option="close" action="RunPlugin(plugin://plugin.audio.kodi.ra/?action=reset)"/>
  </category>
</settings>
